<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6d51417c-757d-47ec-893c-b5ec3441d797/resourceGroups/WebAppDashboard/providers/Microsoft.Web/sites/WebAppDashboard</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://webappdashboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webappdashboard.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppDashboard</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppDashboard</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>